
<div class="card">
    <div class="card-header">
        Register here!!
      </div>
  <form [formGroup]="Register" (submit)="onPost()" >
    <fieldset>
        <br>
      <legend><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg> &nbsp;Register As New User </legend>    
<br>
<br>

      <label>
        &nbsp;&nbsp;&nbsp;&nbsp; Name:&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="name" formControlName="name" required>
      </label>
      <br>
      <br>
      <div class="two-cols">
        <label>
            &nbsp;&nbsp; useraname:&nbsp;
          <input type="text" name="useraname" formControlName="useraname" required>
        </label>
        <br>
        <br>
        <label>
           &nbsp;&nbsp; password: &nbsp;
          <input type="password" name="phone" formControlName="password">
        </label>
      </div>
    </fieldset>
    <br>

    <fieldset>
       
      <div class="two-cols">
    
        <!--drop down list of specilization-->
      
        
        <div class="inline">
          <label>Register As:</label> 
            &nbsp; <label >
            <input type="radio" id="age2"  value="Patient" formControlName="Patient">
            Patient
          </label>
          <label >
            <input type="radio" id="age3"  value="doctor" formControlName="doctor">
            doctor
          </label>
          

        </div>
      </div>
     
    </fieldset>
    <br>
    <br>
     
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<input type="submit" value="Register" >
    <br>
    <br>
  </form>
</div>

